[gcode_macro PRIME_LINE]
gcode:
    # Save the current state
    SAVE_GCODE_STATE NAME=PRIME_LINE_state

    # Set to absolute positioning
    G90

    # Move to start position (with Z hop for safety)
    G1 Z2.0 F3000
    G1 X100 Y0 F5000
    G1 Z0.3 F3000

    # Reset extruder
    G92 E0

    # Purge to bed
    G1 E8 F{5 * 60}

    # First line - left to right
    G1 X250 Y0 Z0.3 F1500 E15

    # Move to second line position
    G1 X250 Y0.4 Z0.3 F5000

    # Second line - right to left
    G1 X100 Y0.4 Z0.3 F1500 E30

    # Small retraction
    G92 E0
    G1 E-0.5 F3000

    # Lift nozzle and move out of the way
    G1 Y40 Z5.0 F3000

    # Restore previous state
    RESTORE_GCODE_STATE NAME=PRIME_LINE_state
